.App {
  min-height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.search__form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bar{
    width: 35%;
    border-radius: 4px;
    border: none;
    padding: 8px;
  }

  &__button{
    background: lightcoral;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    color: white;
  }
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


