.recipe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 40%;
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
}

.img{
    border-radius: 5px;
    width: 300px;
    height: 200px;
}